:root {
    --red: #E4021B;
    --blue: #083EFD;
    --white: #FFFFFB;
    --yellow: #FFDB15;
}

body {
    background-color: var(--blue);
    margin: 0;
}

header {
    background-color: var(--red);
    text-align: right;
    padding: 20px;
    margin-bottom: 50px;
}

#board {
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

#board-container {
    text-align: center;
}

#board-container-inner {
    width: 600px;
    height: 600px;
    outline: 10px solid var(--red);
    margin: auto;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    color: var(--white);
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: var(--white);
}

/* Sidebar */
.sidenav {
    background-color: var(--white);
    outline: 10px solid var(--red);
    float: left;
    width: 200px;
}

.sidenav-inner {
    margin: 0;
    padding: 0;
}

.sidenav-inner li {
    list-style: none;
    color: var(--blue);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.sidenav-inner li.sidenav-title {
    font-weight: bold;
    font-size: 30px;
}

button {
    color: var(--white);
    background-color: var(--blue);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}

button#custom-button {
    width: 180px;
}

button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

/* Making the Board Display Properly.  Don't Change! */
g {
    fill: var(--white);
    outline: 1px dashed slategrey;
}

.wire {
    fill: var(--yellow);
}

.terminal {
    fill: silver;
    outline: 8px solid var(--white);
    outline-offset: -8px;
}